$default-font: "Rubik", "Helvetica", "sans-serif";
$default: 1em;
$tiny: 0.625em;
$smaller: 0.8em;
$small: 0.875em;
$low-normal: 0.9375em;
$title: 1.125em;
$big-title: 1.25em;
$huge-title: 1.5em;
$twenty-eight: 1.75em;
$thirty: 1.875em;
$giant-title: 2.125em;
$fourty: 2.5em;
$fifty: 3.125em;
